.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: block;    
}

.nav_logo {
    margin-bottom: 2rem;
    padding: 1rem 1rem;   
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    color: var(--first-color-light);    
    transition: .3s;
    margin-bottom: 10px;
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_link i{
    width: 22px;
    padding-left: 1.5rem;
}

.btn-logout{
    padding-left: 0;
}

.nav_link_text{
    display: none;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    .nav_link_text{
        display: inline-block;
    }
    .nav_logo,
    .nav_link {
        display: block; 
        padding: .5rem 0 .5rem 1.5rem
    }

    .nav_link i{
        width: 25px; 
        padding-right: 18px;   
        padding-left: 0.2rem;   
    }
}